@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

.merry-christmas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  canvas {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
} 