body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.hidden-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.gemini-page-container {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1200px;
}

button {
  font-family: var(--font-family);
}
